name: WakaTime

on:
  schedule:
    # Runs at 12am IST
    - cron: '0 */6 * * *'
      
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_COMMIT: true
          SHOW_LINES_OF_CODE: true
          SHOW_PROFILE_VIEWS: true
          SHOW_DAYS_OF_WEEK: false
          SHOW_LANGUAGE: true
          SHOW_OS: false
          SHOW_PROJECTS: true
          SHOW_TIMEZONE: true
          SHOW_EDITORS: true
          SHOW_LANGUAGE_PER_REPO: true
          SHOW_SHORT_INFO: true
          SHOW_LOC_CHART: false
